<link rel="stylesheet" href="/css/love.css">

<div class="intro">
    <h1 class="fade-in">Hi…</h1>
    <h2 class="fade-in delay1">I made this just for you 💕</h2>
    <h2 class="fade-in delay2">I Just want to show you how much i love you!</h2>
    <h2 class="fade-in delay3">Please take a moment…</h2>

    <a href="/Love/Story" class="btn glow delay3">Continue →</a>
</div>
