<link rel="stylesheet" href="/css/love.css">

<div class="question">
    <h1 class="heartbeat">Will you be my Valentine? 🌹</h1>

    <div class="buttons">
        <a href="/Love/Yes" class="btn yes">Yes 💖</a>
        <a href="/Love/Maybe" class="btn maybe">I need a moment 😌</a>
    </div>
</div>
