<link rel="stylesheet" href="/css/love.css">

<div class="story">
    <h1 class="fade-in">Some people have a way of making everything feel lighter.</h1>

    <p class="fade-in delay1">
        Being around you feels easy, like things make more sense without needing to be explained.
    </p>

    <p class="fade-in delay2">
        You bring warmth into moments I didn’t even realize were missing it,
        and you do it just by being you.
    </p>

    <p class="fade-in delay3 highlight">
        I made this because words sometimes aren’t enough —
        and I wanted you to know how special you are to me.
        I Love you Mueena!
    </p>

    <a href="/Love/Question" class="btn fade-in delay4">One last thing 💖</a>
</div>
